

<app-nav-bar></app-nav-bar>
<div class="d-flex aligns-items-center justify-content-center mt-5">
    <div class="col-3">
      
      
         
 
      
        
            <form [formGroup]="forgotPasswordForm"  (ngSubmit)="passwordchange()">
              <div class="text-center mb-5 mt-1">
                <img src="assets/img/logo.jpg" style="width: 150px;"  alt="">
                  
              </div>
            
              
              
              <div class="text-center mb-4">
                <div class="alert alert-success" role="alert">
                    <strong>Lütfen Şifrenizi Sıfırlamak için Email Adresinizi giriniz</strong>  
                  </div>
              </div>
            
              <div class="form-floating mb-3">
                <input 
                [class.is-invalid]="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid"
                type="email" formControlName="email"
                 class="form-control" 
                 id="floatingInput" 
                 placeholder="email">
                <label for="floatingInput">email adresiniz </label>
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']" class="invalid-feedback">lütfen email adresinizi girin</div>
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" class="invalid-feedback">yalnış email adresi girildi</div>
              </div>
           
              <div style="text-align: center;" class="mt-2" >
                <button [disabled]="forgotPasswordForm.invalid" class="btn  btn-primary btn-block" type="submit">Şifre Yenile</button>
              </div>
             
             
            </form>
             
          
    </div>
    
</div>