<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center mt-5">

    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
          <div class="text-center mb-5 mt-4">
            <img src="assets/img/logo.jpg" style="width: 150px;"  alt="">
              
          </div>
          <div class="d-flex justify-content-center">
            <h1 class="mb-3">kayıt Ol</h1>
          </div>
            <div class="form-floating mb-3">
                <input 
                [class.is-invalid]="registerForm.get('displayName')?.touched && registerForm.get('displayName')?.invalid"
                type="displayName" formControlName="displayName"
                 class="form-control" 
                 id="floatingInput" 
                 placeholder="kullanıcı ismi">
                <label for="floatingInput">Kullanıcı isminiz </label>
                <div *ngIf="registerForm.get('displayName')?.errors?.['required']" class="invalid-feedback">lütfen kullanıcı isminizi giriniz </div>
                
              </div>
              <div class="form-floating mb-3">
                <input 
                [class.is-invalid]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                type="email" formControlName="email"
                 class="form-control" 
                 id="floatingInput" 
                 placeholder="email">
                <label for="floatingInput">email adresiniz </label>
                <div *ngIf="registerForm.get('email')?.errors?.['required']" class="invalid-feedback">lütfen email adresinizi girin</div>
                <div *ngIf="registerForm.get('email')?.errors?.['email']" class="invalid-feedback">yalnış email adresi girildi</div>
              </div>
              <div class="form-floating mb-3">
                <input 
                [class.is-invalid]="registerForm.get('phonenumber')?.touched && registerForm.get('phonenumber')?.invalid"
                type="phonenumber" formControlName="phonenumber"
                 class="form-control" 
                 id="floatingInput" 
                 placeholder="telefon numarası">
                <label for="floatingInput">telefon numarası </label>
                <div *ngIf="registerForm.get('phonenumber')?.errors?.['required']" class="invalid-feedback">lütfen telefon numaranızı giriniz</div>
               
              </div>
              <div class="form-floating">
                <input 
                [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="şifre">
                <label for="floatingPassword">şifrenizi giriniz</label>
                <div *ngIf="registerForm.get('password')?.errors?.['required']" class="invalid-feedback">lütfen şifrenizi giriniz</div>
                <div *ngIf="registerForm.get('password')?.errors?.['pattern']" class="invalid-feedback">lütfen kurallara uygun şifre giriniz</div>
              </div>
              <div class="d-grid mt-2">
                <button  [disabled]="registerForm.invalid" class="btn btn-lg btn-primary mt-2" type="submit">Kayıt ol</button>
              </div>
        </form>
        <div class="d-flex justify-content-center mt-3">
          <a href="" class="me-4 text-reset">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fa fa-github"></i>
          </a>
        </div>
    </div>
</div>